<div class="cart-container">
  <div class="empty-cart-message" *ngIf="cartProducts.length === 0">
    {{ cartEmptyMessage }}
  </div>
  <div class="cart-panel">
    <div class="cart-item" *ngFor="let cartProduct of cartProducts">
      <img [src]="cartProduct.product.url" [alt]="cartProduct.product.name" />
      <div class="cart-item-details">
        <div>{{ cartProduct.product.name }}</div>
        <div>{{ cartProduct.product.price }}</div>
        <div>
          Amount :
          <input
            class="number-input"
            name="quantity"
            type="number"
            min="1"
            max="10"
            [(ngModel)]="cartProduct.amount"
          />
        </div>
      </div>
    </div>
  </div>
  <form class="form-margin">
    <div class="user-form">
      <div class="input-field">
        <label>Full name</label>
        <input
          type="text"
          name="full_name"
          placeholder="(Minimum 3 Characters)"
        />
      </div>

      <div class="input-field">
        <label>Address</label>
        <input type="text" name="adress" placeholder="(Minimum 6 Characters)" />
      </div>
      <div class="input-field">
        <label>Credit card number</label>
        <input
          type="number"
          name="card-number"
          placeholder="(16-digit number)"
        />
      </div>
      <button routerLink="/confirmation" type="submit">Purchase</button>
    </div>
  </form>
</div>
