img {
  width: 100px;
  border-radius: 10px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  margin-top: 64px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.form-margin {
  margin-bottom: 12px;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px 0;
}

input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 2px solid var(--brand);
  width: 100%;
}

input:focus, textarea {
  outline: 1px solid var(--brand);
  border-radius: 0 8px 8px 0 ;
}

button:hover {
  border: 1px solid var(--brand);
}

button:disabled {
  border: none;
  color: white;
  background-color: grey;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}