<div class="cart-container">
  <div class="empty-cart-message" *ngIf="cartProducts.length === 0">
    {{ cartEmptyMessage }}
  </div>
  <div class="cart-panel">
    <div class="cart-item" *ngFor="let cartProduct of cartProducts">
      <img [src]="cartProduct.product.url" [alt]="cartProduct.product.name" />
      <div class="cart-item-details">
        <div>{{ cartProduct.product.name }}</div>
        <div>{{ cartProduct.product.price }}</div>
        <div>
          Amount :
          <input
            class="number-input"
            name="quantity"
            type="number"
            min="1"
            max="10"
            [(ngModel)]="cartProduct.amount"
          />
        </div>
      </div>
    </div>
    <strong *ngIf="cartProducts.length > 0">Total: ${{ price }}</strong>
  </div>
  <form class="form-margin" [formGroup]="cartInfo" (ngSubmit)="onSubmit()">
    <div class="user-form">
      <div class="input-field">
        <label>Full name</label>
        <input
          placeholder="(Minimum 3 Characters)"
          formControlName="fullName"
        />
        <strong>{{ cartInfo.get("fullName").status }}</strong>
      </div>

      <div class="input-field">
        <label>Address</label>
        <input placeholder="(Minimum 6 Characters)" formControlName="address" />
        <strong>{{ cartInfo.get("address").status }}</strong>
      </div>
      <div class="input-field">
        <label>Credit card number</label>
        <input
          type="text"
          placeholder="(16-digit number)"
          formControlName="creditCard"
        />
        <strong>{{ cartInfo.get("creditCard").status }}</strong>
      </div>
      <button type="submit" [disabled]="!cartInfo.valid">Purchase</button>
    </div>
  </form>
</div>
