.product-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 64px auto;
  max-width: 1366px;
  gap: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
}