footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--brand);
  height: auto;
  width: 100%;
  padding: 20px 0;
  color: #fff;
}

.copyright, .copyright a {
  text-align: center;
  color: white;
  text-decoration: none;
}